<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <html data-theme="halloween"></html>
    <title>Lego Collection</title>
</head>
</html>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>
      
        <div class="navbar-center flex">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/about">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 right-0">
                    <li><a href="/lego/sets?theme=Town">Town</a></li>
                    <li><a href="/lego/sets?theme=Race">Race</a></li>
                    <li><a href="/lego/sets?theme=Train">Train</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
    <div class="container mx-auto">
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-caligraphy">Hi guys! </h1>
            <p class="py-6 font-garmond">Let's immerse ourselves in the enchanting atmosphere of LEGO.</p>
            <button class="btn btn-primary"><a href="/lego/sets">Start</a></button>
          </div>
        </div>
      </div>

      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          <div class="border-2">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure>
                  <img src="https://cdn.rebrickable.com/media/sets/03-1.jpg" alt="Doors and Fences" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">THE LEGO SET OF DOORS AND FENCES!</h2>
                  <p>The LEGO set featuring doors and fences offers endless possibilities for creative construction and imaginative play. With its versatile pieces, builders can design intricate structures and scenes, adding depth and detail to their LEGO worlds. </p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary"><a href="/lego/sets/03-1">Buy Now</a></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="border-2">
                <div class="card w-96 bg-base-100 shadow-xl">
                    <figure>
                      <img src="https://cdn.rebrickable.com/media/sets/041-1.jpg" alt="Pre-School Beginners Set" />
                    </figure>
                    <div class="card-body">
                      <h2 class="card-title">THE LEGO SET FOR PRE-SCHOOL BEGINNERS</h2>
                      <p>The LEGO set designed for preschool beginners introduces young learners to the joy of building and creating with colorful, easy-to-handle bricks. With age-appropriate pieces and simple instructions, this set sparks imagination and encourages early development skills in budding builders.</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary"><a href="/lego/sets/041-1">Buy Now</a></button>
                      </div>
                    </div>
                </div>
            </div>

                <div class="border-2">
                    <div class="card w-96 bg-base-100 shadow-xl">
                        <figure>
                          <img src="https://cdn.rebrickable.com/media/sets/042-1.jpg" alt="Jumbo Brick Pull Toy" />
                        </figure>
                        <div class="card-body">
                          <h2 class="card-title">LEGO'S JUMBO BRICK PULL TOY!</h2>
                          <p>LEGO's Jumbo Brick Pull Toy combines the classic fun of LEGO building with the excitement of a pull-along toy, offering hours of entertainment for young children. With oversized bricks and a sturdy design, it's perfect for little hands to explore and play with both indoors and outdoors.</p>
                          <div class="card-actions justify-end">
                            <button class="btn btn-primary"><a href="/lego/sets/042-1">Buy Now</a></button>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
